@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f8f8f8;
  background: #1e1f25;
}

::-webkit-scrollbar {
  width: 8px; /* Ширина вертикальной полосы прокрутки */
  height: 8px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background-color: #5051f9;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.my-notification {
  margin: 0 5px 5px;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;

  background: #000203;
  border-left: rgb(0, 0, 0) lid #187fe7;
  .notification-title {
    font-size: 16px;
  }

  .notification-content {
    font-size: 14px;
  }

  &.success {
    background-color: #008000;
  }
  &.info {
    background-color: #5051f9;
  }
  &.error {
    background-color: #f03a3a;
  }
}
